*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover{
    color: #db2777;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(img.png);
    background-size: cover;
    background-position: center;
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color:#B026FF;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    background: -webkit-linear-gradient(45deg,#c084fc, #db2777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
}
.home-sci{
    margin: 30px 15px 30px 0;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background-image: linear-gradient(to bottom right, #3b82f6, rgb(168, 85, 247), #ec4899);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    /* letter-spacing: 1px; */
    text-decoration: none;
    font-weight: 530;
}
.btn-box:hover{
    box-shadow: 0 0 5px #eb88ba,
    0 0 25px #eb88ba, 0 0 1px #eb88ba,
    0 0 20px #eb88ba, 0 0 100px #eb88ba
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
